body{
    background-color: rgb(241, 244, 247);
    color: rgb(127, 46, 165)
}
h1{
    color:blueviolet;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 40px;
}

 /* estilo para una etiqueta que existe */
h1{
    color: darksalmon;
   }

 /* primer estilo aplicacndolo para un class*/
    .estilo_div{
        position: center;
        background-color: rgb(56, 11, 56);
        color: rgb(117, 170, 24);
    }

 /*  estilo aplicacndolo para un id*/
    #parrafo1{
        color:rgb(243, 228, 89);
    }
    #parrafo2{
        color:rgb(0, 4, 255);
    }

    #caja_grande{
        width: 30%;
        height: 200px;
        border-style: solid;
        border-color: black;
        display: inline-block;/*  sirve para alinear las cajas pequeñas en las caja grande */
    }

    .caja_morada{
        display: flex; 
    }

    .caja_naranja{
        width: 70%;
        height: 45px;
    }

    .caja_amarilla{
        width: 25%;
        height: 40px;
        text-align: right;
    }
    
    .caja_azul_oscuro{
        display: flex;    
    }

    .caja_azul_claro{
        width: 48%;
        height: 100px;  
    }

    .caja_verde{
        width: 48%;
        height: 100px;  
    }
    .caja_roja{
        width: 98%;
        height: 45px;
        align-items: left;
        text-align: right;
    }
    .icono1{
        font-size: 30xp;
        color: blueviolet;
        padding: 5px 5px 0px 10px;
    }

    .diseño_boton{

    width: 30%;
    height: 30px ;
    background: rgb(144, 240, 240);
    color:rgb(8, 5, 1) ;
    border-color: blue;
    margin: 20px;
    }

    .derecha{
        display: flex;
        justify-content: right;
        align-items: right;
    }

    #menu ul{
        display: flex;
        list-style: none;
        justify-content: center;
    }

    #menu li a{
        display: block;
        width: 200px;
        height: 40px;
        background-color: orange;
        border-width: 2px;
        border-style: solid;
        border-color: violet;
        color: white;
        margin: 0px 20px 30px 0px;
        text-align: center;
        text-decoration: none;
        padding-top: 14px;
    }

    #menu a:hover{
        background-color: rgb(153, 0, 255);
    }

    .formulario{
        width: 60%;
        background-color: rgb(178, 178, 235);
        text-align: left;
        padding: 20px;
    }

    .diseño_label{
        display: inline-block;
        width: 30%;
    }

    .diseño_input{
        display: inline-block;
        width: 50%;
    }

    .boton_formulario{
        width: 200px;
        height: 40px ;
        background: rgb(144, 240, 240);
        color:rgb(8, 5, 1); 
        border-width: 2px;
        border-style: solid;
        border-color: rgb(67, 10, 121);
    }

    .boton_formulario:hover{
        background-color: orange;
        cursor:pointer;
    }

    .estilo_tabla{
        width: 90%;
        border-collapse: collapse;
        border: 0.3px solid black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 15px;
    }

    th, td{
        border: 0.3px solid black;
    }

    th{
        background-color: rgb(243, 156, 243);
    }
    .color1{
        background-color: blueviolet;
    }

    .color2{
        background-color: cornflowerblue;
    }

    .color3{
        background-color: khaki;
    }
    .alinear_logo{
        text-align: center;
    }

    .btn{
        width: 190px;
    }

    /*si el tamañomaximo del dispositivo es 640xp entonces:*/
    @media(max-width: 640px){

        header{
            text-align: center;
            
        }

        #menu ul{
           flex-direction: column;
           align-items: center;
        }

        #menu li a{
            width: 300px;
            height: 50px;
            background-color: rgb(235, 189, 41);
        }

        .formulario{
            width: 90%;
            text-align: left;
            padding: 0px 0px 0px 0px;
        }

        .boton_formulario{
            width: 30%;
            height: 30px;
        }

        #caja_grande{
            width: 97%;
            display:block;/*  sirve para alinear las cajas pequeñas en las caja grande */
            margin-bottom: 20px;
        }

    }

   /*Si quiere un diseño para tablets*/
   @media(min-width: 640px)and(max-width:1280px)

   {
    .formulario{
        width: 90%;
        text-align: left;
        padding: 0px 0px 0px 0px;
    }

    #caja_grande{
        width: 97%;
        display:block;/*  sirve para alinear las cajas pequeñas en las caja grande */
        margin-bottom: 20px;
    }

   }

